---
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import "../styles/global.css";

import { supabase } from '../lib/supabase'

const { data: productos, error } = await supabase
  .from('productos')
  .select('*')

console.log("PRODUCTOS:", productos)
console.log("ERROR:", error)
---

<Layout>
	<div class="fixed w-full h-dvh bg-[#F9F7FB]/50 z-[-1]"></div>
	<Header />
	<Welcome />
	<!-- <div>
		<h1>titulo</h1>
		<div>
  {productos?.map((p) => (
  <div>
    <h2 class="text-black">{p.titulo}</h2>
	<img src={p.imagen_url} alt={p.titulo} class="w-xl">
	<h3>Precio {p.precio}</h3>
  </div>
))}
</div>
	</div> -->
</Layout>
