<header class="px-4">
    <nav class=" grid gap-4 md:gap-0 md:grid-cols-3 max-w-6xl m-auto py-4">
        <picture class="flex justify-center items-center">
            <img src=/logo-nail.svg alt="Nails Kira" class="w-36  ">
        </picture>
        <nav class="flex items-end justify-center h-full w-full gap-4 m-auto">
            <a href="/products" class="text-xl">Productos</a>
            <a href="/about" class="text-xl">Acerca de</a>
        </nav>
<div class="relative flex items-center justify-center w-full">
  <input
    placeholder="buscar..."
    class="input  shadow-lg  focus:border-2 border-gray-300 px-5 py-3 rounded-xl w-full md:w-80 transition-all md:focus:w-96 outline-none"
    name="search"
    type="search"
  />
  <svg
    class="size-6 absolute top-4 right-4 md:top-7 md:right-10 text-gray-500"
    stroke="currentColor"
    stroke-width="1.5"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z"
      stroke-linejoin="round"
      stroke-linecap="round"
    ></path>
  </svg>
</div>

    </nav>
</header>


